@font-face {
    font-family: "Eagle Lake";
    src: url('../fonts/EagleLake-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: color-mix(in srgb, #f6a192 30%, #f6b092);
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
    gap: 20px;
    max-width: 100%;
}

.add-book-button {
    font-size: 1rem;
    color: greenyellow;
    background-color: green;
    border: 0px;
    margin: 20px;
    padding: 0px 20px;
    height: 40px;
    border-radius: 99em;
}

.add-book-button:hover {
    background-color: color-mix(in srgb, black 40%, green);
    transition: 0.5s;
}

.card {    
    background-color: burlywood;
    padding: 20px;
    aspect-ratio: 1 / 1.7;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 5px 5px 10px #888888;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .book-title {
        font-family: 'Eagle Lake';
        font-size: 1.4rem;
        height: 33%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-shadow: 2px 2px 4px #888888;
    }

    .bottomContainer {
        opacity: 0;
    }

    .authorPages {
        display: flex;
        flex-direction: column;
        
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 0.85rem;
    }


}

.card:hover {
    background-color: color-mix(in srgb, #895129 50%, burlywood);
    transition: 0.5s;

    .bottomContainer {
        opacity: 1;
        transition: opacity 1.5s ease;
    }
}